@import './scss/_base.scss';
@import './scss/_fonts.scss';
@import './scss/_buttons.scss';

:root {
  position: relative;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-1: #3444e9;
  --color-2: #ffdcd9;
  --color-3: #c2a6d4;
  --color-4: #242fa0;

  color-scheme: light dark;
  color: var(--color-2);
  background-color: var(--color-1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: var(--color-1);
    font-size: 20px;
    background-color: var(--color-2);
  }

  a:hover {
    color: #747bff;
  }
} */