@import './scss/_base.scss';
@import './scss/_fonts.scss';
@import './scss/_buttons.scss';

:root {
  position: relative;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /*
    #495867
    #577399
    #BDD5EA
    #F7F7FF
    #FE5F55
  */

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body.dark {
  --color-primary: #040926;
  --color-secondary: #00cdcd;
  --color-caribbean: #0E9594;
  --color-white: #F7F7FF;
  --color-black: #1a1a1a;
  --color-red: #F2542D;
  color: var(--color-secondary);
  background-color: var(--color-primary);
}

body.light {
  --color-primary: #00cdcd;
  --color-secondary: #040926;
  --color-caribbean: #0E9594;
  --color-white: #F7F7FF;
  --color-black: #1a1a1a;
  --color-red: #F2542D;
  color: var(--color-secondary);
  background-color: var(--color-primary);
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: var(--color-blue);
    font-size: 20px;
    background-color: var(--color-2);
  }

  a:hover {
    color: #747bff;
  }
} */