@import './scss/_base.scss';
@import './scss/_fonts.scss';
@import './scss/_buttons.scss';

:root {
  position: relative;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-white: #F1F7EE;
  --color-black: #1a1a1a;
  --color-red: #F2542D;

  /*
    #495867
    #577399
    #BDD5EA
    #F7F7FF
    #FE5F55
  */

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body.dark {
  --color-primary: #38726C;
  --color-secondary: #F1F7EE;
  color: var(--color-secondary);
  background-color: var(--color-primary);
}

/* https: //coolors.co/d9e5d6-00a7e1-eddea4-f7a072-ff9b42 */

/* 
  #023618


#F1F7EE


 */
body.light {
  --color-primary: #F1F7EE;
  --color-secondary: #38726C;
  color: var(--color-secondary);
  background-color: var(--color-primary);
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: var(--color-blue);
    font-size: 20px;
    background-color: var(--color-2);
  }

  a:hover {
    color: #747bff;
  }
} */